# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/
*.env

# Python/Jupyter
*.ipynb_checkpoints
.ipynb_checkpoints/
*.ipynb

# Audio
*.mp3
*.wav
temp_audio.mp3
uploads/

# Environment
.env

# VSCode
.vscode/

# Logs
*.log

# OS junk
.DS_Store

# Docker
docker-compose.override.yml
model4.pkl
temp_audio.mp3
uploads/
